<h1>About us</h1>
<p>
	Thank you @Rich I saw using the resources directive as the solution in a earlier question but since my instructor had not gone over using the resources directive yet for CRUD operations I wasn't sure on the approach and it actually broke my code more. It was just the order of how my routes were just like you said. Sorry I can't upvote your answer, yet! 
</p>